body {
    font-family: "Space Grotesk", sans-serif;
    background-color: rgb(243, 243, 243);
    /* background-color: #3A3A3AFF; */
    margin: 0px;
}

.milestone-cards {
    width: 750px;
    display: grid;
    gap: 0.75rem;
    margin: 1rem auto;  /* centers it horizontally */
}

.milestone {
      position: relative; /* for pseudo-element */
  overflow: hidden;   /* clip the gradient */
  transition: transform 0.3s ease;
    display: grid;
    grid-template-columns: 30px 360px 70px 160px; /* logo | title | grade | university */
    align-items: center;
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    gap: 1.5rem;
    text-align: center;
}

.span-2 {
  grid-column: span 2;
      text-align: center;
}

.milestone span {
    color: #666;
    font-size: 0.9rem;
}

.milestone img {
    max-height: 32px;
    object-fit: contain;
}


h4,
p {
    overflow-wrap: anywhere;
    white-space: normal;
}

.video-slideshow {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    /* -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%); */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%); */
    mask-repeat: no-repeat;
    mask-size: cover;
    z-index: -1;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 3s ease;
}

.bg-video.active {
    opacity: 1;
}

.video-card {
    background-color: #f1f1f1;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: 10px;
    height: 0;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 12px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-card h4 {
    margin: 8px 0 4px 0;
    text-align: center;
}

.video-card .video-date {
    font-size: 0.85em;
    text-align: center;
    color: #555;
}

.video-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.navbar {
    top:0;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    position: fixed;
    width: 95%;
    background-color: #26afb986;
    border-radius: 25px;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.473); */
    box-shadow: 0 2px 8px rgb(255, 255, 255);
    z-index: 1000;
}

.nav-left,
.nav-right {
    display: flex;
    width: 50%;
}

.nav-center {
    position: relative;
        flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease;
}

.nav-center img {
    position: absolute;
    border-radius: 25px;
    transition: opacity 0.4s ease;
}

.nav-center img {
    width: 50px;
    border: 2px solid white;
    transform: translateY(clamp(26px, calc(40px - 2vw), 45px));
}

.profile-banner {
    display: flex;
        flex: 1;               /* take all remaining horizontal space */
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: rgba(48, 44, 44, 0.226);
    padding: 12px 26px;
    border-radius: 12px;
    font-family: 'Orbitron', sans-serif;
    /* color: #fff; */
    white-space: nowrap; /* keep on one line */
    justify-content: center;
    height: 120px;
}


.profile-banner img {
    height: 80%;
}

.profile-banner span {
    font-size: 1em;
}

.face-change img.base {
    position: relative;
}

.nav-center img.hover,
.face-change img.hover {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-center:hover img.hover,
.face-change:hover img.hover {
    opacity: 1;
}

.nav-center:hover img.hover {
    animation: glowPulse 1s infinite alternate;
}

.nav-center:hover img.base,
.face-change:hover img.base {
    opacity: 0;
}

@keyframes glowPulse {
    0% {
        box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.6);
    }

    100% {
        box-shadow: 0 0 2px 10px rgba(255, 255, 255, 0.8);
    }
}

.tooltip {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 0.9em;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-center img:hover+.tooltip {
    animation: tooltipPulse 1s infinite alternate;
}

.nav-center img:hover+.tooltip {
    opacity: 1;
}

@keyframes tooltipPulse {
    0% {
        transform: translateX(-50%) translateY(-5px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.face-change {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    height: 150px;
}

.face-change .tooltip {
    bottom: 120px;
    left: 100%;
    opacity: 1;
    /* background-color: rgba(72, 165, 194, 0); */
    animation: tooltipPulse 1s infinite alternate;
}

.face-change:hover .tooltip {
    animation: tooltipPulse 1s infinite alternate, bluePulse 1.5s infinite alternate;
}

.face-change .tooltip::after {
    content: attr(data-default);
}

.face-change:hover .tooltip::after {
    content: attr(data-hover);
}

@keyframes bluePulse {
    0% {
        box-shadow: 0 0 5px 5px rgba(72, 165, 194, 0.6);
    }

    100% {
        box-shadow: 0 0 10px 10px rgba(72, 165, 194, 0.8);
    }
}

.nav-link {
    color: white;
    height: 50px;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    flex: 1;
    font-weight: 500;
    border-radius: 25px;
    transition: border 0.5s ease, background-color 0.5s ease;
    border: 2px solid transparent;
}

.navbar a:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.container {
    width: clamp(60%, 80vw, 90%);
    margin: auto;
    text-align: left;
    position: relative;
}

.section-title {
    letter-spacing: 4px;
    text-align: center !important;
    margin-top: 30px;
}

.grey-rule {
    margin: 50px auto;
    width: 10%;
    border-color: #9e9e9e !important;
}

.grey-rule-small {
    margin: 15px auto;
    width: 8%;
    border-color: #9e9e9e !important;
}

.grey-rule-smaller {
    margin: 10px auto;
    width: 5%;
    border-color: #9e9e9e !important;
}

.grey-rule-smallest {
    margin: 5px auto;
    width: 3%;
    border-color: #9e9e9e !important;
}

.tech span, .theory span {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.85rem;
}

.tech, .theory {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
  flex-wrap: wrap;
  gap: 8px; 
  display: flex;
  justify-content: center;
}

.concept {
  background-color: rgb(166, 179, 185);
}

.project-content {
  display: flex;
  gap: 16px;
  align-items: center; /* vertically center the content */
}

.project-content img {
  max-height: 100px;  /* scale nicely */
  width: auto;
border-radius: 5px;
  flex-shrink: 0;
}

.project-content span {
      font-size: 0.80rem;
}

#arbiter {
  /* background-color: rgba(102, 204, 255, 0.377); */
    font-family: 'Orbitron', cursive;
    background-color: #3A3A3AFF;
}

#arbiter span {
  color: #fff;
}

#arbiter .tech span {
  background-color: #66CCFFFF;
}

#arbiter h4 {
  color: #66CCFFFF;
}

#pokemon {
    /* font-family: 'Luckiest Guy', cursive; */
        font-family: "Bitcount Grid Double", system-ui, sans-serif;
  font-optical-sizing: auto; /* variable font feature */
  font-weight: 700;           /* default weight */
  font-style: normal;
  font-variation-settings: 
    "slnt" 0,   /* slant */
    "CRSV" 0.5, /* cross stroke */
    "ELSH" 0,   /* horizontal stretch */
    "ELXP" 0;   /* expansion */
  background-color: #c5e41481;
}

#pokemon .tech span {
  background-color: #f7e7008a;
}

#pokemon h4 {
    color: #f7e600; /* Pikachu yellow */
}

#pokemon {
  border-color: #ffcb05; /* Pikachu yellow */
}

#arbiter {
  border-color: #66ccff; /* Ice blue */
}

.project-box {
  background-color: #f0f8ff; /* light blue, can change per project */
  border: 2px solid #4ab0f5; /* main border color */
  border-radius: 16px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* soft shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 700px; /* optional for layout */
}

.project-box:hover {
  transform: translateY(-4px); /* subtle lift on hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.project-box h4 {
  font-size: 1.8rem;
  margin: 0 0 8px 0;
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
    -2px  0px 0 #000,
     2px  0px 0 #000,
     0px -2px 0 #000,
     0px  2px 0 #000;
}

.item-row .item-column {
  margin-left: auto;
}

.business-card .item-row {
    display: grid;
    grid-template-columns: 150px 1fr; /* first column fixed, second column flexible */
    align-items: center;
    gap: 16px; /* space between columns */
}

.item-row{
        display: flex;
    flex-direction: row;
    align-items: center;
}

.item-column {
    display: flex;
    flex-direction: column;
}

.item-column .contact-info {
    text-align: right;
      font-size: 0.80rem;
}

.business-card .item-column {
    justify-content: end;
}

.thesis-subtitle-inline {
  font-size: 0.9em;
  font-weight: 400;
  color: #555;
}

.business-card {
  background: linear-gradient(135deg, #ffcf8b, #ffb347);
  margin-bottom: 50px;
  padding: 14px 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  background: linear-gradient(135deg, #2a3439, #66ccff); /* gunmetal → soft icy grey-blue */
  /* border: 1px solid rgba(163, 205, 227, 0.9); */
  box-shadow:
    0 0 0 1px rgba(163, 205, 227, 0.6),
    0 10px 20px rgba(0, 0, 0, 0.25),
    0 0 25px rgba(42, 52, 57, 0.4);
  color: #fff;
      transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.video-gallery .profile-box:hover, .business-card:hover {
  transform: translateY(-4px) scale(1.01);
  box-shadow:
    0 14px 30px rgba(0, 0, 0, 0.25);
}

/* .business-card {
  background: linear-gradient(135deg, #f9fafb, #eceff3);
  padding: 14px 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  border: 1px solid #ddd;
  box-shadow:
    0 8px 18px rgba(0, 0, 0, 0.15);
} */

.video-gallery .profile-box {
    padding: 7px;
          transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.profile-box {
    max-width: 800px;
    margin: 0px auto;
    padding: 25px 25px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 14px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-box ul {
    padding: 20px;
    width: 100%;
    list-style: none;
}

.profile-box ul li {
    position: relative;
    margin-bottom: 12px;
    line-height: 1.6;
}

.face-change img {
    position: absolute;
    border-radius: 5px;
    transition: opacity 0.4s ease;
    height: 100%;
    flex-shrink: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#pokemon img:hover,
.pub-box img:hover {
    filter: brightness(70%);
}

.profile-box a {
    color: #0066cc;
    text-decoration: none;
}

.profile-box a:hover {
    text-decoration: underline;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video-gallery .profile-box p {
    font-size: 0.8rem;
}

.video-gallery .profile-box h4 {
    font-size: 0.9rem;
    height: 10px;
  display: flex;
  align-items: center;     /* vertically center titles */
  justify-content: center;
  text-align: center;
}

.video-gallery .video-container {
  flex-shrink: 0;            /* video keeps its size */
}

.video-gallery .profile-box {
    width: 250px;
  box-sizing: border-box;
}

.profile-box h4 {
  display: flex;
  align-items: center;   /* vertical centering */
  justify-content: center;
}

@media (max-aspect-ratio: 1/1) {
    .video-gallery .profile-box {
        max-width: 90%;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px
    }
}

.phone-mockup {
  position: relative;
  width: 300px;
}

.phone-frame {
    position: relative;
  width: 80%;
  z-index: 100;
  pointer-events: none;
}

.phone-video {
  position: absolute;
  top: 1.25%;
  left: 12.5%;
  width: 75%;
  height: 97.5%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 0;
}

.video-container {
    position: relative;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pub-box {
    box-sizing: border-box;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 10px
}

.pub-box img {
    max-width: 70px;
    height: auto;
    display: block;
    transition: 1s ease;
    border-radius: 5px;
    align-items: center;
}

.pub-box img:hover {
    filter: brightness(70%);
}

.title-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-bar {
    background-color: #333;
    color: #fff;
        align-items: center;  /* vertically center children */
        padding: 1rem 2rem; 

}

.footer-content {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#publications{
    margin-bottom: 60px
}

.item-column{
    display: flex;
    flex-direction: column;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: #1e90ff;
}

.contact-info p {
    margin: 0.2rem 0;
    text-align: right;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.social-links img {
    width: 50px;
    transition: 1s ease;
}

.social-links img:hover {
    filter: brightness(70%);
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    color: #333;
}

.custom-list li {
    margin-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
    line-height: 1.6;
}

.custom-list li::before {
    content: "•";
    color: #007acc;
    /* nice blue accent */
    font-size: 1.2em;
    position: absolute;
    left: 0;
    top: 0;
}

.custom-list a {
    color: #007acc;
    text-decoration: none;
    font-weight: 500;
}

.custom-list a:hover {
    text-decoration: underline;
}

.title-block {
    margin: 20px 0;
    /* equal space above and below */
}

.title-block h3,
.title-block h4 {
    margin: 5px 0;
    /* equal space between headings */
}